In [1]:
# Import necessary modules and files
##############################################################################

import pandas as pd
import os
import sqlite3
from sqlite3 import Error
from significant_categorical_level import list_platform,list_medium,list_source
from city_tier_mapping import *
from constants import *
from utils import *
from data_validation_checks import *
from schema import *

DB_PATH ='C:/Users/44775/Desktop/Assignment/01_data_pipeline/scripts'
DB_FILE_NAME ='utils_output.db'
DATA_DIRECTORY = 'C:/Users/44775/Desktop/Assignment/01_data_pipeline/scripts/data/'

In [2]:
build_dbs(DB_FILE_NAME,DB_PATH)

True

In [3]:
raw_data_schema_check(raw_data_schema)

'Raw datas schema is in line with the schema present in schema.py'

In [4]:
load_data_into_db(DATA_DIRECTORY,DB_PATH,DB_FILE_NAME,INPUT_FILE_NAME)

Connection Successful <sqlite3.Connection object at 0x000002612B369990>

C:\Users\44775\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,created_date,city_mapped,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_dropped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,...,specilization_click,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag
0,0,13/08/2021 10:44,mumbai,Level0,Level0,Level0,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,04/11/2021 06:34,ncr,Level1,Level1,Level1,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,29/07/2021 14:01,meerut,Level0,Level2,Level2,2.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,01/12/2021 13:21,ncr,Level1,Level3,Level3,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,10/12/2021 07:22,ahmedabad,Level2,Level2,Level2,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
map_city_tier(DB_PATH,city_tier_mapping,DB_FILE_NAME)

Connection Successful <sqlite3.Connection object at 0x0000026145145A80>

C:\Users\44775\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,created_date,city_mapped,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_dropped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,...,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag,city_tier
0,0,13/08/2021 10:44,mumbai,Level0,Level0,Level0,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0
1,1,04/11/2021 06:34,ncr,Level1,Level1,Level1,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0
2,2,29/07/2021 14:01,meerut,Level0,Level2,Level2,2.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0
3,3,01/12/2021 13:21,ncr,Level1,Level3,Level3,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0
4,4,10/12/2021 07:22,ahmedabad,Level2,Level2,Level2,1.0,0.0,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0

In [6]:
map_categorical_vars(DB_PATH,DB_FILE_NAME)

C:\Users\44775\anaconda3\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

Connection Successful <sqlite3.Connection object at 0x0000026145145990>

C:\Users\44775\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

,Unnamed: 0,created_date,city_mapped,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_dropped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,...,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag,city_tier
0,1528,13/09/2021 07:49,nagpur,Level18,Level44,Level13,1.0,0.0,None,None,...,None,None,None,None,None,None,None,None,0,2.0
1,1618,01/11/2021 08:49,vizayanagara,Level18,Level44,Level13,1.0,0.0,None,None,...,None,None,None,None,None,None,None,None,0,3.0
2,2970,02/08/2021 06:26,ncr,Level18,Level44,Level13,1.0,0.0,None,None,...,None,None,None,None,None,None,None,None,0,1.0
3,3077,22/11/2021 07:38,pune,Level24,Level44,Level13,1.0,0.0,None,None,...,None,None,None,None,None,None,None,None,0,1.0
4,3479,01/11/2021 08:44,yavatmal,Level18,Level44,Level13,1.0,0.0,None,None,...,None,None,None,None,None,None,None,None,0,3.0

In [7]:
interactions_mapping(DB_PATH,INTERACTION_MAPPING,INDEX_COLUMNS,DB_FILE_NAME)

C:\Users\44775\anaconda3\lib\site-packages\pandas\core\apply.py:577: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  return f(*args, **kwargs)

Connection Successful <sqlite3.Connection object at 0x0000026145145B70>

interaction_mapping,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_dropped,referred_lead,app_complete_flag,city_tier
0,Level0,Level8,Level2,1.0,0.0,1,2.0
1,Level0,Level0,Level0,3.0,0.0,1,1.0
2,Level0,Level2,Level2,1.0,0.0,1,3.0
3,Level0,Level4,Level2,1.0,0.0,1,3.0
4,Level0,Level9,Level2,1.0,0.0,0,2.0

In [8]:
model_input_schema_check(model_input_schema)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/44775/Desktop/Assignment/01_data_pipeline/scripts/data/cleaned_data.csv'

In [ ]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

In [ ]:
# Importing Sqlite3 Module
import sqlite3
 
try:
     
    # Making a connection between sqlite3
    # database and Python Program
    sqliteConnection = sqlite3.connect('utils_output.db')
     
    # If sqlite3 makes a connection with python
    # program then it will print "Connected to SQLite"
    # Otherwise it will show errors
    print("Connected to SQLite")
 
    # Getting all tables from sqlite_master
    sql_query = """SELECT name FROM sqlite_master
    WHERE type='table';"""
 
    # Creating cursor object using connection object
    cursor = sqliteConnection.cursor()
     
    # executing our sql query
    cursor.execute(sql_query)
    print("List of tables\n")
     
    # printing all tables list
    print(cursor.fetchall())
 
except sqlite3.Error as error:
    print("Failed to execute the above query", error)
     
finally:
   
    # Inside Finally Block, If connection is
    # open, we need to close it
    if sqliteConnection:
         
        # using close() method, we will close
        # the connection
        sqliteConnection.close()
         
        # After closing connection object, we
        # will print "the sqlite connection is
        # closed"
        print("the sqlite connection is closed")

import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('utils_output.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists
cursor.execute("DROP TABLE products")
print("Table dropped... ")

#Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()